body{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
flex-flow: column;
}
*{
    box-sizing: border-box;
}
.cont{
/* border: 1px red solid   ; */
max-width: 900px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.square{
   background-color: #1d1d1d;
   box-shadow: 0 0 2px black;
   margin: 4px;
   width: 20px;
   height: 20px;
transition: .5s ease;
}
.square:hover{
    /* transition-duration: 0s; */
}
